.mainChat__container{
    flex: 0.91;
    overflow: auto;
    padding: 0 80px;
}
.mainChat__containeremoji{
    flex: 0.51;
    overflow: auto;
    padding: 0 80px;
    animation: chatDexpand;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  @keyframes chatDexpand {
    0% {flex: 0.91;}
    100% {flex: 0.51;}
  }
.mainChat__encrypted{
    font-size: 12.5px;
    color: gold;
    text-align: center;
    margin: 12px;
}
.mainChat__encrypted p{
    background-color: #2a2b36;
    padding: 8px 12px;
    border-radius: 10px;
    display: inline-block;

}
.mainChat_messageLeft{
    text-align: left;
    margin-bottom: 5px;
    position: relative;
    font-size: 14px;
}
.mainChat_messageLeft p{
    background-color: #30323F;
    padding: 6px 10px;
    display: inline-block;
    border-radius: 0 6px 6px 6px;
    max-width: 500px;
}
.mainChat_messageLeft::before{
    content: "";
    width: 0;
    height: 0;
    border-top: 6px solid #30323F;
    border-left: 6px solid transparent;
    position: absolute;
    left: -6px;
}
.mainChat_messageRight{
    text-align: right;
    margin-bottom: 5px;
    position: relative;
    font-size: 14px;


}
.mainChat_messageRight p{
    background-color: #CCFFCE;
    padding: 6px 10px;
    display: inline-block;
    border-radius: 6px 0 6px 6px;
    color: #2a2b36;
    max-width: 500px;

}
.mainChat_messageRight::after{
    content: "";
    width: 0;
    height: 0;
    border-top: 6px solid #CCFFCE;
    border-right: 6px solid transparent;
    position: absolute;
    right: -6px;

}
.mainChat_messageRight sub{
    margin: 3px 1px 1px 5px;
    font-size: 11px;
    color: #5a5b66;
}
.mainChat_messageLeft sub{
    margin: 3px 1px 1px 5px;
    font-size: 11px;
    color: #b0b0b7;

}